footer.footer--sticky {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: z("footer", "sticky");

    background: white;
    border-top: 1px solid #E3E3E3;

    transition: height 100ms;

    width: 100%;

    @include mq("sm") {
        min-width: 320px;
    }

    &.open {
        height: 100% !important;
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        transition: height 250ms;

        .collapsed-view {
            display: none;
        }
        .expanded-view {
            display: block;
        }

        // IE9 doesn't like how i currently do the sticky footer
        .eq-ie9 & {
            top: 0 !important;
            right: 0 !important;
            bottom: 0 !important;
            left: 0 !important;
            height: auto !important;
            width: auto !important;
        }
    }

    .wrap--content {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapsed-view {
        display: block;
    }
    .expanded-view {
        display: none;
    }
}
