footer(ng-style="{'height': (offsetBottom + 'px')}", ng-class="{'open': stickyFooterOpen}").footer--sticky
    .collapsed-view(watch-height="offsetBottom")
        .wrap--content

    .expanded-view
        .wrap--content
