---
title: ""
description: ""
keywords: ""
section: "default"
---

extends /layouts/base.jade

//- append analytics
    :raw

block content

    header.header--page
        .wrap--content

            h1 Sample charts from Google Charts

    section.section--page
        .wrap--content

            #pie-chart


            #bar-chart